<!DOCTYPE html>
    <html>
        <head>
            <title>welcome to my homepage</title>
        </head>
        <body>
            <h1> 롤전적검색기 </h1>
             <form action ="http://www.op.gg/summoner/">
             아이디 : <input type="text" name="userName">
             <input type="submit" value="전적검색">
            </form>
            
            <h1> 롤전적검색기2 </h1>
             <form action ="/search">
             아이디 : <input type="text" name="userName">
             <input type="submit" value="전적검색">
            </form>
        <body>
    </html>