<!DOCTYPE html>
<html>
    <head>
        <title>잡동사니</title>
        
    </head>
    <body>
        <h1>로또 추천</h1>
        <p>이번주 행운번호 : <%=@lotto%></p>
        <p>이번주 행운번호 : <%=(1..45).to_a.sample(6)%></p>
    </body>
</html>