<!DOCTYPE html>
    <html>
        <head>
            <title>welcome to my homepage</title>
        </head>
        <body>
            <h1> 점심 메뉴 추천 </h1>
            <p>당신이 먹을 점심메뉴는 : <%= @menu %></p> 
            
           <img src="<%=@photos[@menu]%>"
        <body>
    </html>
 