<!DOCTYPE html>
    <html>
        <head>
            <title>welcome to my homepage</title>
        </head>
        <body>
            <h1> <%=@id%>님의 전적 </h1>
            <p>승 :<%=@win%></p> 
            <p>패 :<%=@lose%> </p>
           
        <body>
    </html>
 